* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 40px 0;
  background: #19161b;
  transition: 0.5s;
  z-index: 1;
}
nav .navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .navbar__menus {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
nav .navbar__menus .menu-link, nav .navbar__menus .navbar__menus__right a, nav .navbar__menus__right .navbar__menus a, nav .navbar__menus .navbar__menus__left a, nav .navbar__menus__left .navbar__menus a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
nav .navbar__menus__left {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar__menus__left a {
  padding: 0 20px;
  text-transform: capitalize;
  color: #ffffff;
}
nav .navbar__menus__right a {
  margin-right: 12px;
  color: #ffc492;
}
nav .navbar__close,
nav .navbar .hamburger {
  display: none;
}

.navbar-shrink {
  padding: 20px 0;
  box-shadow: 0 2px 10px 2px black;
}

@media screen and (max-width: 900px) {
  nav .navbar {
    justify-content: space-between;
  }
  nav .navbar__menus {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    transition: 0.5s;
  }
  nav .navbar__menus .menu-link-res, nav .navbar__menus .navbar__menus__right a, nav .navbar__menus__right .navbar__menus a, nav .navbar__menus .navbar__menus__left a, nav .navbar__menus__left .navbar__menus a {
    font-size: 40px;
    padding: 30px 0;
  }
  nav .navbar__menus__left {
    flex-direction: column;
  }
  nav .navbar__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  nav .navbar__close svg {
    width: 80px;
    height: 80px;
    transition: 0.5s;
  }
  nav .navbar__close svg:hover {
    fill: red;
  }
  nav .navbar__close,
nav .navbar .hamburger {
    display: block;
    background-color: transparent;
  }
}
.conatiner {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1440px;
}

.cafe__1 {
  background-color: #19161B;
}
.cafe__1 .cafe__sec1 {
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
}
.cafe__1 .cafe__sec1 .cafe__about__left {
  display: flex;
}
.cafe__1 .cafe__sec1 .cafe__about__left h5 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 16px;
  color: #FFB577;
  padding-bottom: 26px;
}
.cafe__1 .cafe__sec1 .cafe__about__left h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  padding-bottom: 32px;
}
.cafe__1 .cafe__sec1 .cafe__about__left p {
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  color: #B8B8B8;
  padding-bottom: 40px;
}
.cafe__1 .cafe__sec1 .cafe__about__left .cafe__about__numbers {
  display: flex;
  flex-direction: column;
}
.cafe__1 .cafe__sec1 .cafe__about__left .cafe__about__numbers .numbers1 {
  display: flex;
}
.cafe__1 .cafe__sec1 .cafe__about__left .cafe__about__numbers .numbers1 p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #B8B8B8;
  padding-right: 80px;
}
.cafe__1 .cafe__sec1 .cafe__about__left .cafe__about__numbers .numbers1 span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #C4E4EA;
}
.cafe__1 .cafe__sec1 .cafe__about__right {
  display: flex;
  padding-left: 200px;
}
.cafe__1 .cafe__sec1 .cafe__about__right .right__img1 {
  margin-right: 20px;
  padding-top: 100px;
  width: 240px;
  height: 500px;
}
.cafe__1 .cafe__sec1 .cafe__about__right .right__img2 {
  padding-bottom: 100px;
  width: 240px;
  height: 500px;
}
@media screen and (max-width: 1265px) {
  .cafe__1 .cafe__sec2 {
    flex-direction: column;
  }
  .cafe__1 .cafe__sec2 .cafe__about__left {
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right {
    width: 100%;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right .right__img1 {
    padding-top: 0px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right .right__img2 {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 900px) {
  .cafe__1 .cafe__sec2 .cafe__about__right {
    padding-top: 50px;
    padding-left: 0px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right .right__img1 {
    width: 50%;
    margin-right: 30px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right .right__img2 {
    width: 50%;
  }
}
@media screen and (max-width: 555px) {
  .cafe__1 .cafe__sec2 .cafe__about__left h1 {
    font-size: 30px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__left .cafe__about__numbers .numbers1 {
    margin-left: 50px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__left .cafe__about__numbers .numbers1 p {
    margin-left: -60px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right {
    flex-direction: column;
    align-items: center;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right .right__img1 {
    width: 100%;
    margin-right: -30px;
    padding-bottom: 50px;
  }
  .cafe__1 .cafe__sec2 .cafe__about__right .right__img2 {
    width: 100%;
  }
}/*# sourceMappingURL=about.css.map */