* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 40px 0;
  background: #19161b;
  transition: 0.5s;
}
nav .navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .navbar__menus {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
nav .navbar__menus .menu-link,
nav .navbar__menus .navbar__menus__right a,
nav .navbar__menus__right .navbar__menus a,
nav .navbar__menus .navbar__menus__left a,
nav .navbar__menus__left .navbar__menus a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
nav .navbar__menus__left {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar__menus__left a {
  padding: 0 20px;
  text-transform: capitalize;
  color: #ffffff;
}
nav .navbar__menus__right a {
  margin-right: 12px;
  color: #ffc492;
}
nav .navbar__close,
nav .navbar .hamburger {
  display: none;
}

.navbar-shrink {
  padding: 20px 0;
  box-shadow: 0 2px 10px 2px black;
}

@media screen and (max-width: 900px) {
  nav .navbar {
    justify-content: space-between;
  }
  nav .navbar__menus {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    transition: 0.5s;
  }
  nav .navbar__menus .menu-link-res,
  nav .navbar__menus .navbar__menus__right a,
  nav .navbar__menus__right .navbar__menus a,
  nav .navbar__menus .navbar__menus__left a,
  nav .navbar__menus__left .navbar__menus a {
    font-size: 40px;
    padding: 30px 0;
  }
  nav .navbar__menus__left {
    flex-direction: column;
  }
  nav .navbar__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  nav .navbar__close svg {
    width: 80px;
    height: 80px;
    transition: 0.5s;
  }
  nav .navbar__close svg:hover {
    fill: red;
  }
  nav .navbar__close,
  nav .navbar .hamburger {
    display: block;
    background-color: transparent;
  }
}
.conatiner {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1440px;
}

/*---- Menu ----*/
li {
  list-style-type: none;
}
.menu {
  padding-top: 160px;
  height: 3000px;
  background: #19161b;
}
.menu .paragrphy {
  display: flex;
  justify-content: space-between;
}
.menu .paragrphy__left_txt {
  width: 50%;
}
.menu .paragrphy__left_txt h5 {
  padding-bottom: 24px;
  padding-right: 16px;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffb577;
}
.menu .paragrphy__left_txt h2 {
  padding-bottom: 144px;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #ffffff;
}
.menu .paragrphy__right_txt {
  margin-right: 150px;
  width: 30%;
}
.menu .paragrphy__right_txt p {
  margin-top: 65px;
  font-size: 16px;
  line-height: 28px;
  color: #b8b8b8;
}
.menu .kefe_foods_menu {
  /*width: 40%;*/
}
.menu .menu_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu .menu_item .menu_li {
  list-style-type: none;
}
.menu .menu_item .menu_li a {
  padding-right: 50px;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}
.menu_foods {
  width: 100%;
  margin-bottom: 150px;
}
.foods_item {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.foods_li {
  padding-right: 32px;
  padding-bottom: 32px;
}
.menu_narx {
  margin-top: -5px;
  background: #1f1d21;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_narx p {
  padding-left: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.87;
}
.menu_narx span {
  padding-right: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.87;
}
.kafe_about {
  display: flex;
}
.info {
  width: 40%;
  height: 532px;
  background: #1f1d21;
}
.working__hour {
  padding: 64px 64px 2px;
}
.working__hour h3 {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.working__hour p {
  font-size: 16px;
  line-height: 28px;
  color: #b8b8b8;
}
@media screen and (max-width: 900px) {
  .menu {
    height: 100%;
  }
  .paragrphy {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .paragrphy__left_txt {
    text-align: center;
  }
  .paragrphy__right_txt {
    margin-top: -200px;
    margin-left: 110px;
    text-align: center;
  }
  .menu_item {
    margin-left: 80px;
  }
  .menu_li {
    padding-top: 30px;
    font-size: 15px;
  }
  .foods_item {
    display: flex;
    flex-direction: column;
  }
  .foods_li img {
    width: 120%;
  }
  .menu_narx {
    width: 120%;
  }
  .kafe_about {
    width: 170%;
    display: block;
  }
  .info {
    margin-left: 180px;
  }
  .kefe_map {
    margin-left: 50px;
  }
}
  

/*# sourceMappingURL=menu.css.map */
