@import "../main.scss";

.cafe__1 {
  padding-top: 180px;
  background: #19161B;

  .cafe__sec1 {
    display: flex;
    justify-content: space-between;

    .cafe__left {
      width: 50%;
      margin-top: 90px;

      h1 {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 56px;
        color: #ffffff;
        padding-bottom: 16px;

      }

      p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #B8B8B8;
        padding-bottom: 32px;
      }

      button {
        background: #FFB577;
        padding: 12px 24px;
        margin-bottom: 40px;

        a {

          font-family: 'Poppins';
          font-weight: 500;
          font-size: 16px;
          color: #2E2D33;

        }
      }

      h4 {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
      }
    }

    .right__right {
      width: 50%;
    }
  }


  @media screen and (max-width: 1100px) {
    .cafe__right {
      img {
        width: 100%;
        margin-top: 80px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .cafe__sec1 {
      flex-direction: column;

      .cafe__left {
        width: 100%;
        text-align: center;
        margin-top: -0px;

      }
    }
  }


  @media screen and (max-width: 580px) {
    .cafe__sec1 {
      .cafe__left {
        h1 {
          font-size: 40px;
        }

        p {
          font-size: 10px;
        }
      }

    }

  }

  @media screen and (max-width: 420px) {
    .cafe__sec1 {
      .cafe__left {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}



// section2-----

.cafe__2 {
  background-color: #19161B;

  .cafe__sec2 {
    display: flex;
    padding-top: 100px;
    padding-bottom: 120px;

    .cafe__about__left {
      width: 50%;

      h5 {
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 16px;
        color: #FFB577;
        padding-bottom: 26px;
      }

      h1 {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 48px;
        color: #ffffff;
        padding-bottom: 32px;
      }

      p {
        font-family: 'Poppins';
        font-style: normal;
        font-size: 16px;
        color: #B8B8B8;
        padding-bottom: 40px;
      }

      .cafe__about__numbers {
        display: flex;
        flex-direction: column;
        width: 100%;

        .numbers1 {
          display: flex;

          p {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            color: #B8B8B8;
            padding-right: 80px;

          }

          span {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #C4E4EA;
          }
        }

        .numbers2 {
          button {

            background: #FFB577;
            padding: 12px 26px;

            a {
              font-family: 'Poppins';
              font-weight: 500;
              font-size: 16px;
              color: #2E2D33;
            }

          }
        }

      }


    }

    .cafe__about__right {
      display: flex;
      padding-left: 200px;

      .right__img1 {
        margin-right: 65px;
        padding-top: 100px;

      }

      .right__img2 {
        padding-bottom: 100px;
      }

    }




  }

  @media screen and (max-width: 1265px) {

    .cafe__sec2{
      flex-direction: column;

      .cafe__about__left{
        width: 100%;
          text-align: center;
          margin-top: -0px;
      
      }

            .cafe__about__right{
              width: 100%;
              .right__img1{
                padding-top: 0px;
              }

              .right__img2{
                padding-bottom: 0px;
              }
            }
    }
    
  }


  @media screen and (max-width:900px) {

    .cafe__sec2{

      .cafe__about__right{
        padding-top: 50px;
        padding-left: 0px;
        .right__img1{
          width: 50%;
          margin-right: 30px;
        }
        .right__img2{
          width: 50%;
        }
      }
    }
    
  }

  @media screen and (max-width:555px) {
.cafe__sec2{
  .cafe__about__left {
      h1 {
        font-size: 30px;
      }
   .cafe__about__numbers{
    .numbers1{
     margin-left: 50px;
      p {
          margin-left: -60px;
        }

    }
   
   }
     
    }
  
    .cafe__about__right {
      flex-direction: column;
      align-items: center;
  
      .right__img1 {
        width: 100%;
        margin-right: -30px;
        padding-bottom: 50px;
      }

      .right__img2{
        width: 100%;
      }
    }

}
    
    
  }
}


// section3------