@import "../main.scss";

.cafe__1 {
  padding-top: 180px;
  background: #19161B;

  .cafe__sec1 {
    display: flex;
    justify-content: space-between;

    .cafe__left {
      width: 50%;
      margin-top: 90px;

      h1 {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 56px;
        color: #ffffff;
        padding-bottom: 16px;

      }

      p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #B8B8B8;
        padding-bottom: 32px;
      }

      button {
        background: #FFB577;
        padding: 12px 24px;
        margin-bottom: 40px;

        a {

          font-family: 'Poppins';
          font-weight: 500;
          font-size: 16px;
          color: #2E2D33;

        }
      }

      h4 {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
      }
    }

    .right__right {
      width: 50%;
    }
  }


  @media screen and (max-width: 1100px) {
    .cafe__right {
      img {
        width: 100%;
        margin-top: 80px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .cafe__sec1 {
      flex-direction: column;

      .cafe__left {
        width: 100%;
        text-align: center;
        margin-top: -0px;

      }
    }
  }


  @media screen and (max-width: 580px) {
    .cafe__sec1 {
      .cafe__left {
        h1 {
          font-size: 40px;
        }

        p {
          font-size: 10px;
        }
      }

    }

  }

  @media screen and (max-width: 420px) {
    .cafe__sec1 {
      .cafe__left {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}



// section2-----

.cafe__2 {
  background-color: #19161B;

  .cafe__sec2 {
    display: flex;
    padding-top: 100px;
    padding-bottom: 120px;

    .cafe__about__left {
      width: 50%;

      h5 {
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 16px;
        color: #FFB577;
        padding-bottom: 26px;
      }

      h1 {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 48px;
        color: #ffffff;
        padding-bottom: 32px;
      }

      p {
        font-family: 'Poppins';
        font-style: normal;
        font-size: 16px;
        color: #B8B8B8;
        padding-bottom: 40px;
      }

      .cafe__about__numbers {
        display: flex;
        flex-direction: column;
        width: 100%;

        .numbers1 {
          display: flex;

          p {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            color: #B8B8B8;
            padding-right: 80px;

          }

          span {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #C4E4EA;
          }
        }

        .numbers2 {
          button {

            background: #FFB577;
            padding: 12px 26px;

            a {
              font-family: 'Poppins';
              font-weight: 500;
              font-size: 16px;
              color: #2E2D33;
            }

          }
        }

      }


    }

    .cafe__about__right {
      display: flex;
      padding-left: 200px;

      .right__img1 {
        margin-right: 65px;
        padding-top: 100px;

      }

      .right__img2 {
        padding-bottom: 100px;
      }

    }




  }

  @media screen and (max-width: 1265px) {

    .cafe__sec2 {
      flex-direction: column;

      .cafe__about__left {
        width: 100%;
        text-align: center;
        margin-top: -0px;

      }

      .cafe__about__right {
        width: 100%;

        .right__img1 {
          padding-top: 0px;
        }

        .right__img2 {
          padding-bottom: 0px;
        }
      }
    }

  }


  @media screen and (max-width:900px) {

    .cafe__sec2 {

      .cafe__about__right {
        padding-top: 50px;
        padding-left: 0px;

        .right__img1 {
          width: 50%;
          margin-right: 30px;
        }

        .right__img2 {
          width: 50%;
        }
      }
    }

  }

  @media screen and (max-width:555px) {
    .cafe__sec2 {
      .cafe__about__left {
        h1 {
          font-size: 30px;
        }

        .cafe__about__numbers {
          .numbers1 {
            margin-left: 50px;

            p {
              margin-left: -60px;
            }

          }

        }

      }

      .cafe__about__right {
        flex-direction: column;
        align-items: center;

        .right__img1 {
          width: 100%;
          margin-right: -30px;
          padding-bottom: 50px;
        }

        .right__img2 {
          width: 100%;
        }
      }

    }


  }
}


// section3------

.cafe-3 {
  background-color: #19161B;
  padding-bottom: 100px;

  button{
    background: #FFB577;
    padding: 12px 30px;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #2E2D33;
  }

  .cafe__top {
    display: flex;

    p {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 16px;
      color: #B8B8B8;
      float: right;
      width: 50%;
      padding-left: 200px;
      padding-top: 50px;
    }
  }

  .cafe__top__left {
    width: 50%;
    padding-bottom: 60px;

    h5 {
      font-family: 'Playfair Display';
      font-weight: 400;
      font-size: 16px;
      color: #FFB577;
      padding-bottom: 24px;
    }

    h1 {
      font-family: 'Playfair Display';
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
    }

  }


  .cafe__bottom {
    width: 1280px;
    height: 600px;
    right: 160px;
    top: 2003px;
    display: flex;
    margin: 0 auto;

    background: rgba(0, 0, 0, 0.16);

    .table__1 {
      margin-left: 150px;

      img {
        padding-top: 100px;
      }
    }

    .table__2 {
      margin-left: 120px;

      img {
        padding-top: 100px;
      }
    }

    .table__3 {
      margin-left: 120px;

      img {
        padding-top: 100px;
      }
    }


    h1 {
      font-family: 'Playfair Display';
      font-weight: 700;
      font-size: 32px;
      color: #FFFFFF;
    }

    p {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 16px;
      color: #B8B8B8;
    }

  }

  @media screen and (max-width: 1290px) {

    .cafe__bottom {
      width: 1180px;
      height: 600px;
      right: 160px;
      top: 2003px;




      .table__1 {
        margin-left: 50px;

      }
    }
  }


  @media screen and (max-width: 1215px) {

    .cafe__bottom {
      width: 800px;
    }

    .cafe__top {
      flex-direction: column;

      h5 {
        text-align: center;
        float: right;

      }

      h1 {
        width: 100%;
        text-align: center;
        margin-left: 200px
      }

      p {
        width: 100%;
        text-align: center;
        margin-left: -110px;
        padding-top: 0px;
        padding-bottom: 50px;
      }
    }

  }

  @media screen and (max-width:835px) {
    .cafe__bottom {
      width: 600px;

      .table__1 {
        margin-left: 30px;

      }

      .table__2 {
        margin-left: 30px;
      }

      .table__3 {
        margin-left: 30px;
      }
    }

  }

  @media screen and (max-width:800px) {
    .cafe__top {
      h1 {
        margin-left: 160px;
      }
    }

  }

  @media screen and (max-width:635px) {

    .cafe__sec3 {
      .cafe__bottom {
        flex-direction: column;
        height: 800px;
        width: 100%;

        .table__1 {
          display: flex;

          .cafe__table {
            margin-left: 20px;
          }
        }

        .table__2 {
          display: flex;

          .cafe__table {
            margin-left: 20px;
          }
        }

        .table__3 {
          display: flex;

          .cafe__table {
            margin-left: 20px;
          }
        }
      }

      .cafe__top {
        h1 {
          margin-left: 135px;
        }
      }



    }

  }

  @media screen and (max-width:580px) {

    .cafe__sec3 {

      .cafe__top {
        h1 {
          margin-left: 100px;
        }
      }

      .cafe__bottom {
        height: 900px;
      }
    }


  }


  @media screen and (max-width:512px) {
    .cafe__sec3 {
      .cafe__top {
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 12px;
        }
      }
      .cafe__bottom {
        height: 1500px;
        width: 300px;
        .table__1 {
          flex-direction: column;
        }
        .table__2 {
          flex-direction: column;
        }
        .table__3 {
          flex-direction: column;
        }
      }
    }
  }
}

// section4-------------
.cafe-4{
  background-color: #19161B;
  padding-bottom: 120px;
  text-align: center;
  .cotalik__top {
      display: flex;
      text-align: left;
     
  
      p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #B8B8B8;
        float: right;
        width: 50%;
        padding-left: 200px;
        padding-top: 50px;
      }
    }
  
    .cotalik__top__left {
      width: 50%;
      padding-bottom: 60px;
  
      h5 {
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 16px;
        color: #FFB577;
        padding-bottom: 24px;
      }
  
      h1 {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #ffffff;
      }
  
    }

    .cotalik__bottom{
      display: flex;
      flex-wrap: wrap;

      .menu{
        width: 33,3333333;
        margin: 0 auto;
        background-color: #1f1d21;
        margin-bottom: 40px;

        span{
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 50px;
          color: #ffffff;
        }
       
      }

    }
    button{
      background-color: #FFB577;
      padding: 12px 30px;
      font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        color: #2E2D33;
        
       
    }

    @media screen and (max-width:1270px) {

      .menu{
        
       img{
        width: 100%;
       }
      }
      
    }
}

@media screen and (max-width:880px){


  .menu{
    width: 100%;
  }
.cotalik__top{

  h1{
    margin-left: 180px;
    text-align: center;
    width: 100%;
  }
  p{
    display: none;
  }
}


@media screen and (max-width:560px) {

  .cotalik__top{
    h1{
      margin-left: 130px;
    }
  }
  
}

  }


  // scetion5------
.cafe-5{
  background-color: #1F1D21;
  .sec-5 {
      display: flex;

      .sec5__about{
       padding-top: 80px;
       margin-right: 20px;

       h3{
        padding-top: 45px;
        font-family: 'Playfair Display';
          font-weight: 500;
          font-size: 32px;
          color: #FFFFFF;
          padding-bottom: 72px;
       }

       span{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;

        p{
          font-family: 'Poppins';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }

    
        
       }
      }
      
    }


    @media screen and (max-width:1260px) {
      
      .sec-5{
        flex-direction: column;
      }
      
    }
}



